<mat-nav-list class="sidenav-list">
        <a mat-list-item routerLink='/signin' (click)='onSideToggleClose()'>
            <mat-icon>input</mat-icon>
            <span>Signin</span>
        </a>
        <a mat-list-item routerLink='/signup' (click)='onSideToggleClose()'>
            <mat-icon>account_circle</mat-icon>
            <span>Signup</span>
        </a>
        <a mat-list-item routerLink='/accomodation' (click)='onSideToggleClose()'>
            <mat-icon>hotel</mat-icon>
            <span>Accomodation</span>
        </a>
        <a mat-list-item routerLink='/offers' (click)='onSideToggleClose()'>
            <mat-icon>loyalty</mat-icon>
            <span>Offers</span>
        </a>
</mat-nav-list>